.editor_container{
  height: 700px;
  box-shadow: 0px 20px 50px #fff00014, 0px 6px 16px #fff0000a;
  background-color: #15161a;
  border-radius: 6px;
   max-width: 1200px;
  width : 95%;
  margin: 0 auto;
}
.editor {
  overflow: hidden;
}
.quill {
  height: 100%;
}
.ql-editor , .markdown_preview{
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 14px !important;
}
.ql-editor.ql-blank::before {
  color: white !important; 
}
.editor .quill .ql-container {
  border: none !important;
}
.editor-toolbar {
   
  display: flex;
  gap : 16px;
  flex-wrap: wrap;
  border-top:  none !important;
  border-left:  none !important;
  border-right:  none !important;
  border-bottom: 1px solid #555 !important; /*overriding .ql-toolbar */
}
.editor-toolbar .toolbar-divider {
  width: 1px ;
  background-color: #555 !important
}
/*my custom toolbar buttons */
button[title="Paragraph"] {
   color: #444;
   font-size: 1rem;
  font-weight: bold;
 } 
button[title="Paragraph"]:hover {
color : #06c;
}
.toolbar-btn:hover {
  stroke : #06c;
}
