.editor_container{
  height: 100%;
  background-color: #15161a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  max-width: 1200px;
  width : 95%;
  margin: 0 auto;
}
.editor {
  overflow: hidden;
}
.quill {
  height: 100%;
}
.ql-editor {
  overflow-y: scroll;
  font-size: 14px !important;
}
.ql-editor.ql-blank::before {
  color: white !important; 
}
.editor .quill .ql-container {
  border: none !important;
}
.editor-toolbar {
   
  display: flex;
  gap : 16px;
  flex-wrap: wrap;
  border-top:  none !important;
  border-left:  none !important;
  border-right:  none !important;
  border-bottom: 1px solid #555 !important; /*overriding .ql-toolbar */
}
.editor-toolbar .toolbar-divider {
  width: 1px ;
  background-color: #555 !important
}
.editor-toolbar button:hover > svg {
  stroke:  #06c;
}
