.editor_container{
  height: 100%;
  background-color: #15161a;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  max-width: 1200px;
  margin: 0 auto;
}

.editor .quill .ql-container {
  border: none !important;
}
.editor-toolbar {
  border-top:  none !important;
  border-left:  none !important;
  border-right:  none !important;
  border-bottom: 1px solid #555 !important; /*overriding .ql-toolbar */
}
.editor-toolbar .toolbar-divider {
  width: 1px ;
  background-color: #555 !important

}