#root {
   height: 100vh;
  margin: 0 auto;
  text-align: center;
}
.app {
  height: calc(100% - 70px);
}
.app_container {
  display: grid;
  /* grid-template-columns: 1fr 5px 1fr; */
  height: 100%;
}
#toolbar button.ql-active  > svg{
  color: #e56643;
 }
